$footer-height: 0px

// body
body
  background-color: #444

// wrapper
.l-wrapper
  min-height: 100%
  max-width: 414px
  margin: 0 auto
  position: relative
  background-color: #fff

// main
.l-main
  padding-top: 60px
  padding-bottom: 40px

// container
.l-container
  width: 100%
  margin: 0 auto
  padding: 0 10px

// header
.l-header
  width: 100%
  max-width: 414px
  height: 60px
  position: fixed
  z-index: 9996
  background-color: rgba(#fff, 0.95)
  border-bottom: 1px solid $color-background
  &-modal
    width: 100%
    max-width: 414px
    height: 60px
    position: fixed
    z-index: 9998
    margin-left: -55px
    .modal-btn
      width: 40px
      height: 40px
      border: 1px solid $color-background !important
      border-radius: 50%
      background-color: transparent
      display: table
      text-align: center
      cursor: pointer
      outline: none
      position: absolute
      top: 10px
      right: 10px
      i
        display: table-cell
        vertical-align: middle
        font-size: 25px
        color: $color-background !important
  &-menu
    width: 100%
    max-width: 414px
    height: 60px
    position: fixed
    z-index: 9998
    .inner
      max-width: 414px
      height: 60px
      position: relative
      .drawer-nav
        .drawer-menu
          li
            &.table-of-contents
              padding: 12px 15px
              font-size: 18px
              font-weight: bold
              color: #fff
              background-color: $color-base
            a
              border-bottom: 1px solid #ddd
              color: $color-base

.drawer-open
  .l-header-modal
    z-index: 9997

.modal-open
  .l-main
    max-width: 414px
    width: 100%