/ 11 ライフラインの復旧
#restoration-of-lifeline.content
  .m-head1
    .m-head1-num
      .table-cell.align-middle
        | 11
    | ライフラインの復旧
  .m-check
    .m-check-top
      img src="./img/check.png" class="m-check-image"
      .m-check-border
        .border
          .border-top-right
    .m-check-content
      | チェックすべきポイント
    .m-check-bottom
      .m-check-border
        .border
          .border-bottom-left
          .border-bottom-right
  .m-head2
    | 電気
  ul.m-list
    li
      strong
        | 自店のみ停電している場合
  ol.m-list
    li
      | 店内の漏電している箇所を特定するために分電盤を確認。
    li
      | ブレーカーを全てOFFにしてから、主幹ブレーカーをONにし、その後安全ブレーカーを一つずつONにして漏電箇所を特定し、漏電部分のブレーカーはOFFにしたままにする。(早急に修理手配)
    li
      | 漏電箇所以外のブレーカーをONにし営業再開。
  ul.m-list
    li
      strong
        | 近隣地域すべて停電している場合
  ol.m-list
    li
      | 機械での換気が不可能になるため、窓を開けるなどして、換気をしっかりと行う。
    li
      | 店舗に常備されているろうそく、非常時用の照明器具を使用し運営する。(懐中電灯・ろうそく等の非常時使用の照明器具・オーダー受注シート・手書き用領収書・レジの鍵は必ず常備しておく)
    li
      | オーダーシートを利用して、オーダー、会計を行う。
  .m-head2
    | ガス
  ol.m-list
    li
      | ガスメーターを確認する。(緊急停止していないか等)
    li
      | 全てのガス機器の元栓を閉める。
    li
      | メーターの遮断弁復旧ボタンを押す(長押しするなど、メーターに備えつけてある復旧マニュアルを参照して復旧作業を行う。)
    li
      | 数分待った後、ガス機器の確認。
    li
      | 復旧しない場合は、ガス会社に連絡。復旧するまでは、店舗に常備されているカセットコンロを使用する。
  .m-head2
    | ガス漏れ時の対応
  p
    | 火を使う物、火花の出るものは使用禁止。
    br
    | 元栓を全て確認し、全部閉めた状態で、開けられる全ての窓、ドアを開け、換気する。(ほうきで掃きだしたり、うちわで扇いだりして換気を促す)
  .m-head2
    | 水道
  ol.m-list
    li
      | 元栓や配管の確認。
    li
      | 自店だけなのか、近隣地域も断水しているのか確認。
    li
      | 水道局に連絡。水の手配が最重要優先事項。
  .m-case
    img src="./img/case.png" class="m-case-image"
    .m-case-content
      .m-case-inner
        .m-head3
          .m-head3-text
            | 水道管が破裂
        p
          | 近隣で地中の水道管が破裂し水道が一切使用できなくなった。一時的に店内に残っている水を使用し、炊飯や調理を継続した。 並行して水道局に連絡をしたところ、すぐにポリタンクと給水車を派遣してもらい、そのまま営業を継続した。
  .m-head2
    | インターネット
  ol.m-list
    li
      | 接続の確認をしながら、各装置の確認、復旧作業。(電源コンセントの抜き差しなど)
    li
      | 繋がらなければNTTに連絡する。
    li
      | 場合によってはモデムメーカー・プロバイダー等に連絡する。