/ 15 セールス電話・押し売り等
#sales-telephone-and-hard-sell.content
  .m-head1
    .m-head1-num
      .table-cell.align-middle
        | 15
    | セールス電話・押し売り等
  .m-check
    .m-check-top
      img src="./img/check.png" class="m-check-image"
      .m-check-border
        .border
          .border-top-right
    .m-check-content
      | チェックすべきポイント
    .m-check-bottom
      .m-check-border
        .border
          .border-bottom-left
          .border-bottom-right
  .m-head2
    | セールス電話・押し売り等の対処
  ol.m-list
    li
      | 自分には決裁権がありませんのでとお断りする。
    li
      | それでも引き下がらず強引な場合は上長(専務)が対応。
  br
  p
    | ※
    span.red
      | 勝手な店舗対応
    | は
    span.red
      | 絶対にNG
    | です。(店舗に与えられている決裁権は小口現金のみ)