/ 16 横領
#embezzlement.content
  .m-head1
    .m-head1-num
      .table-cell.align-middle
        | 16
    | 横領
  .m-check
    .m-check-top
      img src="./img/check.png" class="m-check-image"
      .m-check-border
        .border
          .border-top-right
    .m-check-content
      | チェックすべきポイント
    .m-check-bottom
      .m-check-border
        .border
          .border-bottom-left
          .border-bottom-right
  .m-head2
    | 金銭の不正が発覚した場合
  ol.m-list
    li
      | 1円でも不正が発覚した場合は懲戒解雇
      br
      | (会社からの罰則)
    li
      | 会社は警察に通報し被害届を提出する。
      br
      | (記録として残る)
  .m-case
    img src="./img/case.png" class="m-case-image"
    .m-case-content
      .m-case-inner
        .m-head3
          .m-head3-text
            | ちょっとした出来心がすべてを失う
        p
          | 勤続10年になる課長が過去4年間にわたり、レジ金や経費を少額ずつ横領していた事実が発覚し、即日解雇となる。また、その課長の指示を受け、明らかにおかしいと知りながらもレジ操作等を行っていた社員は降格処分となる。
          br
          | 横領額は500万円に上り、個人での補填が行えず、両親を保証人に立て、金融機関から返済額すべてを借り入れ、返済を行う。警察に事情は全て説明するも、返済が有った為、被害届は出さなかった。(名前や個人情報は警察に控えられている。)
          br
          | ちょっとした出来心から始まった行動が慢性化し、善悪の判断が出来なくなった典型例。職と仲間と信頼、そして苦労して積み上げてきたキャリアを一瞬で失った。