/ 17 隠ぺい
#hiding.content
  .m-head1
    .m-head1-num
      .table-cell.align-middle
        | 17
    | 隠ぺい
  .m-check
    .m-check-top
      img src="./img/check.png" class="m-check-image"
      .m-check-border
        .border
          .border-top-right
    .m-check-content
      | チェックすべきポイント
    .m-check-bottom
      .m-check-border
        .border
          .border-bottom-left
          .border-bottom-right
  .m-head2
    | ① 報告の義務
  p
    | 営業活動を行う上での失敗は、必ず上長及び会社、本部、状況に応じて各公共官庁(保健所、警察、消防署、労働基準監督署等)に随時報告をしなければならない。
  p
    | 報告やその後の対応の必要性は、一部の人間や店舗だけで判断するものではなく、会社組織として共有し、判断する。
  p
    | この大小さまざまな報告を怠る行為は、すべて『隠ぺい』該当し、発覚した場合はしかるべき処分に処せられる。
  .m-case
    img src="./img/case.png" class="m-case-image"
    .m-case-content
      .m-case-inner
        .m-head3
          .m-head3-text
            | 賞味期限改ざんにより加盟店解除
        p
          | 他の加盟店で、衛生監査時に賞味期限を改ざんし、それを長期間隠蔽工作していた事が表沙汰になる。 また、店舗での使用食材を壱番屋からではなく他社メーカーより仕入れており、内部告発により発覚する。 加盟契約の要綱により加盟解除とともに重大な罰金が科せられる事となる。