/ 18 紛失
#loss.content
  .m-head1
    .m-head1-num
      .table-cell.align-middle
        | 18
    | 紛失
  .m-check
    .m-check-top
      img src="./img/check.png" class="m-check-image"
      .m-check-border
        .border
          .border-top-right
    .m-check-content
      | チェックすべきポイント
    .m-check-bottom
      .m-check-border
        .border
          .border-bottom-left
          .border-bottom-right
  .m-head2
    | 確認事項
  ol.m-list
    li
      | 基本的に必要最低限の貴重品以外は店舗に持参しない事。
    li
      | 店舗に持参した貴重品は各店舗の指定された場所(出し入れが一目で判断できる場所)に保管し、それ以外の場所での紛失について、会社は一切の責任を追わないこととする。
    li
      | 車上(プライベート、宅配車両)での盗難・紛失も、会社は一切の責任を負わないこととする。
    li
      | シューズ等、個人の持ち物に関して、壱番屋の規定を著しく逸脱し尚且つ、指導に対して改善が見られないものに関しては、会社は処分を行うことが出来る。
    li
      | 会社より貸与されているユニホーム(サロン、シャツ、ズボン)を紛失した場合、自己負担にて弁償してもらう事とする。
  .m-case
    img src="./img/case.png" class="m-case-image"
    .m-case-content
      .m-case-inner
        .m-head3
          .m-head3-text
            | 各自が注意を心がける
        p
          | 創業以来、株式会社スカイスクレイパー内の店舗にて、個人の所有物が紛失、盗難にあった事例は一度も報告されていません。今後もこの記録を伸ばす為に、各自が注意を心がけてください。
        .m-head3
          .m-head3-text
            | ハンディーターミナル紛失事件
        p
          | ハンディーターミナル(HHT)の紛失事件が発生。これはリース機器。紛失すれば弁償をしなければならない。また店舗運営においてもHHTが無ければ混乱を引き起こすことは言うまでもない。 当日シフトのメイトさんの持ち出しなど状況確認し、最後に見かけた従事者にも確認をし、店舗閉店後店内全てを探したが何処にもHHTは無かった。店長は降格処分に至る。