/ 19 クレーム
#claim.content
  .m-head1
    .m-head1-num
      .table-cell.align-middle
        | 19
    | クレーム
  .m-check
    .m-check-top
      img src="./img/check.png" class="m-check-image"
      .m-check-border
        .border
          .border-top-right
    .m-check-content
      | 2次クレームにならないように限りなく短時間に誠心誠意の謝罪が必要
    .m-check-bottom
      .m-check-border
        .border
          .border-bottom-left
          .border-bottom-right
  .m-head2
    | 確認事項
  ol.m-list
    li
      | アンケート葉書、HPへの書き込み、直接指摘された等、お客様からの意見を頂いた場合は内容と状況、対処方法、結果、考察、検討を巡回日報に必ず記入すること。
    li
      | クレームに対して、隠蔽工作が発覚した場合は、降格処分とし、責任者は補佐に補佐は研修生に降格。
    li
      | 対応に急を要する場合は、会社役員に速やかに報告を行い、指示を請う事。
  .m-case
    img src="./img/case.png" class="m-case-image"
    .m-case-content
      .m-case-inner
        .m-head3
          .m-head3-text
            | モラルの逸脱
        p
          | 男性レギュラーがお客様の目の前でインスタント麺の封を開けだし、カレーと同じ鍋で平然と調理を始めた。その際にお客様の目の前で丁寧に麺の試食を始めたとの事。お客様は気分が悪くなり、その席を立つがその時にも、麺を口に含んだままの、モゾモゾとしながらの対応。非常にご立腹なされ、クレームに発展。会社全体の人間性を疑う内容の文書、葉書を頂きました。当従事者はモラルの逸脱により無期限の降格処分。その後、直す姿勢が見受けられず解雇処分。
  .m-head2
    | 異物混入のお申し出
  ul.m-list
    li
      strong
        | 商品に異物が混入しているとのお申し出があった場合
  ol.m-list
    li
      | まずは、異物が何であるかを目視で直接確認する。お弁当であった場合も同様に異物を直接確認する事が大原則。
    li
      | 必要に応じて商品の作り直し、もしくは返金の対応を行う。この時、商品を再作成して提供をし、そしてそれをお客様がお召し上がりになられた場合は、正規の商品を提供できたものとして、代金は頂戴する。
    li
      | 混入していた異物は、
      strong.red
        | 必ず保管
      | する。(解決したとしても絶対に破棄してはならない。) 場合によっては、商品ごと冷凍保管し、申出時の状況を維持する。
  .m-case
    img src="./img/case.png" class="m-case-image"
    .m-case-content
      .m-case-inner
        .m-head3
          .m-head3-text
            | 異物混入のクレーム隠蔽
        p
          | 本部HPへ異物混入のクレームが入ったにも拘らず、SVからの連絡を隠蔽、その後の対応も後手にまわり、SVからの再連絡にてオーナーに発覚。SV、オーナー、お客様への信頼を著しく失い、降格処分。クレームが大きくなる殆どが2次クレームであり、限りなく 短時間に誠心誠意の謝罪が必要であり、「隠す」や「忘れる」「後回し」はもってのほかである。また、他店でのクレーム内容と対応方法を日頃から吸収しようという高い意識が必要。
  .m-head2
    | 食中毒のお申し出
  ul.m-list
    li
      strong
        | 食中毒に限らず、腹痛等の体調が悪いという申し出があった場合
  ol.m-list
    li
      | 病院を受診していただくこと。
      br
      | 検査の結果、もし万が一、
      strong.red
        | 当店で提供した商品が原因
      | で体調不良を起こされた事が
      strong.red
        | 明確に
      | 判明した場合は、全て当社で補償をさせて頂くが、当店で飲食された
      strong.red
        | 商品が原因と明確に判明
      | しない限り、チェーンとしては動きようがないため、お客様にはしっかりと説明し、理解していた だく事が絶対条件。
    li
      | その後は原理原則に則って対応する。
    li
      | 速やかに会社・本部・保健所に連絡をして、お客様からのお申し出の内容を報告する。
      br
      br
      | ※食事をされた
      strong.red
        | 日時、商品
      | を必ず確認する。