/ 21 労災
#workers-compensation-insurance.content
  .m-head1
    .m-head1-num
      .table-cell.align-middle
        | 21
    | 労災
  .m-check
    .m-check-top
      img src="./img/check.png" class="m-check-image"
      .m-check-border
        .border
          .border-top-right
    .m-check-content
      | 通勤途中の事故で労災が適用されるのは、直行直帰に限られる。
    .m-check-bottom
      .m-check-border
        .border
          .border-bottom-left
          .border-bottom-right
  .m-head2
    | 確認事項
  ol.m-list
    li
      | 店舗保険との併用は出来ない。まずは業務災害総合保険を活用し、その上で適用範囲 を超えている場合は労働災害保険(労災)での手続きを行う。
    li
      | 店舗で働いているスタッフ、パート、アルバイトさんが仕事中に怪我をした時に適用されます。
    li
      | 店舗で従事し(株)スカイスクレイパーから毎月20日に賃金を支払われている者が労災の対象です。通勤途中、また寄り道をせずまっすぐ帰宅途中の事故も労災が適用されます。 帰宅経路を外れて事故にあった場合、基本的に労災は適用されません。
  .m-case
    img src="./img/case.png" class="m-case-image"
    .m-case-content
      .m-case-inner
        .m-head3
          .m-head3-text
            | 帰宅途中の事故1
        p
          | アルバイトを終え、寄り道もせずにまっすぐ帰宅途中に道路の段差にハンドルを取られて転倒、打ち所が悪く手首を骨折、通院する事になるが、まっすぐ帰宅していた時の事故の為に労災が適用される。
        .m-case-illustration
          img src="./img/21-1.png"
        .m-head3
          .m-head3-text
            | 帰宅途中の事故2
        p
          | アルバイトを終え、帰宅途中に友達とゲームセンターによる。ゲームセンターを出て帰宅途中に前方不注意で側溝に転落する。病院に運ばれCTを撮るが幸い脳波に異常は無かった。今回の事故は、寄り道をしての帰宅途中の事故の為に労災は適用されず。本人の保険で対応する事になる。
        .m-case-illustration
          img src="./img/21-2.png"