/ 22 制服の管理
#management-of-uniforms.content
  .m-head1
    .m-head1-num
      .table-cell.align-middle
        | 22
    | 制服の管理
  .m-check
    .m-check-top
      img src="./img/check.png" class="m-check-image"
      .m-check-border
        .border
          .border-top-right
    .m-check-content
      | 制服の定数を超えた無断使用は禁止です。
    .m-check-bottom
      .m-check-border
        .border
          .border-bottom-left
          .border-bottom-right
  .m-head2
    | 確認事項
  ol.m-list
    li
      strong
        | 制服所持基準
      table
        tbody
          tr
            th.top-head
            th.top-head
              | サロン
            th.top-head
              | シャツ
            th.top-head
              | ズボン
          tr
            th.side-head
              | レギュラー
            td
              | 4
            td
              | 4
            td
              | 4
          tr
            th.side-head
              | メイト
              br
              | (週4日以上勤務)
            td
              | 3
            td
              | 3
            td
              | 3
          tr
            th.side-head
              | メイト
              br
              | (月給5万以下)
            td
              | 2
            td
              | 2
            td
              | 2
    li
      strong
        | シフト数
      | によって上記定数より必要な場合は、レギュラーは買取する。メイトは要望を日報へ入力し、検討のうえ、貸与とします。
    li
      strong
        | 雇用契約書
      | を元に月末数量チェックを行う事とする。
    li
      | 発注依頼は、発注申請書に記入の上所定の店舗にFAXする。
  .m-case
    img src="./img/case.png" class="m-case-image"
    .m-case-content
      .m-case-inner
        .m-head3
          .m-head3-text
            | 制服の無断使用発覚
        p
          | オーナーが社員寮に立ち寄ったところシャツが10枚、ズボンを6枚無断使用が発覚。その他のミスも重なり降格処分と3ヶ月の他社研修へ。経費の管理、備品の管理、部屋や車内という身の回りの管理が出来ない人に先々管理者になる事は無理である。