/ 24 食材管理
#food-management.content
  .m-head1
    .m-head1-num
      .table-cell.align-middle
        | 24
    | 食材管理
  .m-check
    .m-check-top
      img src="./img/check.png" class="m-check-image"
      .m-check-border
        .border
          .border-top-right
    .m-check-content
      | チェックすべきポイント
    .m-check-bottom
      .m-check-border
        .border
          .border-bottom-left
          .border-bottom-right
  .m-head2
    | 確認事項
  ol.m-list
    li
      | 野菜は鮮度の悪いものは返品、仕込み後は検品を怠らず、劣化、変色したものは使用しない
    li
      strong
        | 過剰在庫禁止。
      | 毎月、発注定数を見直し、余分なストックを無くす事。
    li
      | 過剰解凍は行わず、
      strong
        | 再冷凍は厳禁。
    li
      | 納品後は
      strong
        | 検品
      | を行い、即収納し、常温で放置しない。
    li
      | マニュアル、
      strong
        | 計量テスト
      | を実施し、ロスを削減する。
    li
      | 収納時の容器等は
      strong
        | 使いまわし禁止
      | 、常に衛生的なものを用意する。
    li
      | 陳列商品、冷凍商品に関しては、毎週必ず
      strong
        | 販売期限チェック
      | を行う。
    li
      strong
        | ソースの賞味期限
      | は、解凍を開始した時間から計算を行い必ずチェック表に記載する。
    li
      | ソース、解凍が必要な食材は季節を問わず、庫内解凍を原則とし、常温での放置は禁止とする。
    li
      | ポークソース以外は、必ず
      strong
        | 冷蔵庫内での解凍
      | を行う事。ポークソースは芯（解凍されていない部分）が完全になくなる前に冷蔵庫内保存を義務付ける（原則24時間）。
    li
      | 納品ルート中に破封してしまったと判断できるソースは絶対に使用せずに返品する。納品後、収納する時には衝撃を加えないように細心の注意を払う事。万が一、袋が破損した場合は、即火入れを行い、風味を確かめる事。
    li
      strong
        | 火入れ作業は攪拌しながら最短で行う。
      | 火入れ後は検食を行い、少しでも異常を感じたものは使用せず、店長に報告する。
    li
      | 翌日への持ち越しソースは、
      strong
        | 再度火入れ
      | した後、完全に冷まして（冷煎）から冷蔵保管する。
  .m-case
    img src="./img/case.png" class="m-case-image"
    .m-case-content
      .m-case-inner
        .m-head3
          .m-head3-text
            | ストッカーのドアの確認！
        p
          | ラスト時に大型ストッカーのドアが完全に閉まっておらず、翌日出勤したメイトが気付き、中を確認。すべての冷凍食材が解けてしまっており、まったく使用不可能状態になっていた。すぐに店長に連絡、配送センターにとりに行く手はずを付けたが、昼ピークには間に合わず、近隣店舗から食材を届けてもらう事になる。何品目かは欠品も発生し、お客様にも迷惑をかけ、イエローカードの発行となった。
        .m-head3
          .m-head3-text
            | 緊急時の食材管理
        p
          | 上記の例は不注意によるものだが、突然の停電、それが長引いた時に一番問題なのが食材の保存状態。特に冷凍食材は品質の劣化が早いため、極力一箇所にまとめ氷をゴミ袋等にいれた物と一緒に保管するなど、温度に対する管理を重点的に行うこと。また、保存器具のドアの開閉は極力少なくすること。