/ 27 テイクアウト電話注文
#take-telephone-order.content
  .m-head1
    .m-head1-num
      .table-cell.align-middle
        |  27
    | テイクアウト電話注文
  .m-check
    .m-check-top
      img src="./img/check.png" class="m-check-image"
      .m-check-border
        .border
          .border-top-right
    .m-check-content
      | いたずら電話には要注意！
    .m-check-bottom
      .m-check-border
        .border
          .border-bottom-left
          .border-bottom-right
  .m-head2
    | 確認事項
  p
    | テイクアウト、宅配で明らかに「いつもご利用頂いているお客様」と判別出来ない時の
    strong.red
      | 8個以上の受注は折り返しの確認電話
    | をさせて頂く事。
  .m-case
    img src="./img/case.png" class="m-case-image"
    .m-case-content
      .m-case-inner
        .m-head3
          .m-head3-text
            | いたずら電話による損害
        p
          | 「取りに行くから18個のお弁当を作っておいて欲しい」とお客様から電話を頂くが30分過ぎても取りに見えず確認の電話を差し上げたところ「頼んでいない」との返事、「最近そんないたずらが多い」との事。18個のお弁当を従事者が手分けして買取り、余りは処分、大きな損害を被る悲しい結果に・・・。折角、皆で協力して作っても無駄に終わるくらいなら「確認電話は絶対に必要」。
        .m-case-illustration
          img src="./img/27-1.png"