/ 28 通勤時の事故
#commuting-accident.content
  .m-head1
    .m-head1-num
      .table-cell.align-middle
        | 28
    | 通勤時の事故
  .m-check
    .m-check-top
      img src="./img/check.png" class="m-check-image"
      .m-check-border
        .border
          .border-top-right
    .m-check-content
      | ◼︎ 起こりうる犯罪
      br
      strong
        | 【酒気帯び運転】
      br
      | 3年以下の懲役又は50万円以下の罰金
      br
      strong
        | 【酒酔い運転】
      br
      | 5年以下の懲役又は100万円以下の罰金
      br
      | 酒酔い運転の場合、初回で免許取り消し3年です。
    .m-check-bottom
      .m-check-border
        .border
          .border-bottom-left
          .border-bottom-right
  .m-head2
    | 確認事項
  ol.m-list
    li
      | 通勤時の交通事故に対する
      strong
        | 業務災害総合保険
      | 及び、
      strong
        | 労災
      | 適用は、原則として社員、雇用契約を交わしたアルバイト、パートのみに限定される。
    li
      | 出勤、退勤時間には余裕を持った行動を取る。
      br
      | 出勤時間は、スタッフであれば従事開始時間より30分前、パートであれば20分前までには店舗に到着する事とし、日常から余裕を持った行動を取ることとする。
  .m-case
    img src="./img/case.png" class="m-case-image"
    .m-case-content
      .m-case-inner
        .m-head3
          .m-head3-text
            | 酒は飲んでも飲まれるな
        p
          | 他社事例。勤務終了後、社員がメイトを連れ立って居酒屋へ寄り、帰り道で死亡事故を起こす。
          br
          | 寄り道した事により労災対象外、酒気帯び運転という事で車の保険は下りず、法令違反での事故という事で生命保険も大幅減額。 立場、年齢、過去、未来に関係なく事故に遭遇する危険性は万人に潜んでいる。
          br
          | 事故は、最悪の場合その人や周囲の人間からすべての物を奪いとる。確かに事故を起こした後の対応も大切。しかし、一番大切なのは事故を未然に防ぐこと。自分自身の為にだけではなく、自分の周りに居る多くの親族、友人、知人、関係者各位の為にも最大限安全運転を心がけること。
        .m-case-illustration
          img src="./img/28-1.png"