/ 3 入店時の注意点
#notes-on-visiting.content
  .m-head1
    .m-head1-num
      .table-cell.align-middle
        | 3
    | 入店時の注意点
  .m-check
    .m-check-top
      img src="./img/check.png" class="m-check-image"
      .m-check-border
        .border
          .border-top-right
    .m-check-content
      | チェックすべきポイント
    .m-check-bottom
      .m-check-border
        .border
          .border-bottom-left
          .border-bottom-right
  .m-head2
    | ① 店舗周辺の確認
  p
    | 店舗周辺に異常がないか確認しながら入店。特に通用口、店舗入り口の鍵周りは要注意。 いつもと様子が違えばその場から離れ、まず上司へ連絡し指示を仰ぐ。
  .m-head2
    | ② 食材の適正数と前日の指示事項の確認
  p
    | 当日の昼ピーク分の食材の確認と油交換、シフト欠員手配他、伝達事項の確認。
  .m-case
    img src="./img/case.png" class="m-case-image"
    .m-case-content
      .m-case-inner
        .m-head3
          .m-head3-text
            | 事件現場をいじるな！
        p
          | 通用口の鍵が壊されている事に気付かず入店、「事件現場をいじるな」の鉄則に反し、警察から厳重注意を受ける。もしも賊が店内に潜んでいたら身の安全も確保出来ない可能性あり。(レジ内の現金42000円を盗まれ、犯人逮捕に至っていない)