/ 30 36協定
#36-agreements.content
  .m-head1
    .m-head1-num
      .table-cell.align-middle
        | 30
    | 36協定
  .m-check
    .m-check-top
      img src="./img/check.png" class="m-check-image"
      .m-check-border
        .border
          .border-top-right
    .m-check-content
      | ◼︎ 罰則
      br
      strong
        | 【労働基準法違反】
      br
      | 1年以上10年未満の懲役又は20万円以上300万円以下の罰金
    .m-check-bottom
      .m-check-border
        .border
          .border-bottom-left
          .border-bottom-right
  .m-head2
    | 確認事項
  p
    | スタッフ、パート、アルバイトが行う残業や休日の出勤は、労働基準法の第36条による手続き(36協定の締桔)を得たうえで無ければ出来ず、この手続きが無ければ命令したり、スタッフやメイト個人が勝手に行えるものではありません。労働基準法では、労働時間の原則を1週40時間・1日8時間以内とし、それ以上の時間の労働をさせることを禁止しています。 また1週間に1回の休日を与える事になっています。よって、各店のパート・アルバイトの過半数を代表する「代表社員」との書面による協定を締結し、届け出を行い、 協定の範囲内で「時間外・休日労働」をしてもらう事があります。協定の有効期間は1年とし、日常的な時間外労働を避けるため毎年更新します。