/ 31 雇用契約書の提出
#submission-employment-contract.content
  .m-head1
    .m-head1-num
      .table-cell.align-middle
        | 31
    | 雇用契約書の提出
  .m-check
    .m-check-top
      img src="./img/check.png" class="m-check-image"
      .m-check-border
        .border
          .border-top-right
    .m-check-content
      | チェックすべきポイント
    .m-check-bottom
      .m-check-border
        .border
          .border-bottom-left
          .border-bottom-right
  .m-head2
    | 確認事項
  p
    | 入社時、会社規定の基づいた雇用契約書を提出する事、その時、口座番号・制服のサイズ、数量等全て埋めて提出して下さい。 一か所でも漏れが有る場合は雇用契約は結ばれない。
  .m-case
    img src="./img/case.png" class="m-case-image"
    .m-case-content
      .m-case-inner
        .m-head3
          .m-head3-text
            | 労災認定おりず
        p
          | 雇用契約書の提出が無く、労災事故にも関わらず労災認定を受けられない事例有り、個人の先送りの軽い考えが招いた事例。