/ 32 契約書類の偽造(代筆)
#forgery-contract-documents.content
  .m-head1
    .m-head1-num
      .table-cell.align-middle
        | 32
    | 契約書類の偽造(代筆)
  .m-check
    .m-check-top
      img src="./img/check.png" class="m-check-image"
      .m-check-border
        .border
          .border-top-right
    .m-check-content
      | チェックすべきポイント
    .m-check-bottom
      .m-check-border
        .border
          .border-bottom-left
          .border-bottom-right
  .m-head2
    | 確認事項
  p
    | 契約書の偽造(代筆)はれっきとした犯罪。『私文書偽造罪』として扱われる。
  p
    | 当社で考えられるもっとも危険性の高いケースは入社時の雇用契約書や36協定書の代筆。 この書類への代筆行為は犯罪。
  p
    | 発覚した場合、個人が罪に問われる(5年以下の懲役もしくは10万円以下の罰金)ばかり ではなく、会社やチェーン全体に与える風評被害は計り知れないものがある。
  p
    | 契約書の作成は必ず本人に十分な説明をし、説明をする側もされる側も十分理解したうえで、本人直筆のサイン及び押印をする事が大原則となる。 雇用契約書以外にも、契約書を作成する時には上記の注意点を必ず遵守すること。