/ 33 スタッフ同士の交流
#exchanges-between-staff.content
  .m-head1
    .m-head1-num
      .table-cell.align-middle
        | 33
    | スタッフ同士の交流
  .m-check
    .m-check-top
      img src="./img/check.png" class="m-check-image"
      .m-check-border
        .border
          .border-top-right
    .m-check-content
      | チェックすべきポイント
    .m-check-bottom
      .m-check-border
        .border
          .border-bottom-left
          .border-bottom-right
  .m-head2
    | 確認事項
  ol.m-list
    li
      | シフト以外のスタッフ同士の交流については、全て本人同士の自己責任のもとに行い、会社は、一切の責任を負いません。社会常識を逸脱した行為を行った者に関しては、懲戒解雇。
    li
      | ストーカー規正法の施行により「自分」と「相手」の感覚の違いでも罰せられます。嫌な思いをした時は速やかに店長または信頼できるスタッフへ連絡すること。
    li
      | 店舗以外での交流はその場でのキャリア保持者や役職者が責任を持った行動を心掛ける事。個別での付き合い、行動はその個人で責任の所在を確認しておく事。会社が主催する行事に関しては会社側に非が有る場合において会社が全責任を負う。
  .m-case
    img src="./img/case.png" class="m-case-image"
    .m-case-content
      .m-case-inner
        .m-head3
          .m-head3-text
            | 築き上げた信用は一瞬で失う
        p
          | 独立をあと半年後に控え、店舗管理も殆どの業務を任されていた店長の不倫が発覚。 会社や従業員からの厚い信用を築き上げあと少しですべての苦労が報われるところだったが発覚後、即日解雇。今までの努力のすべてを一瞬にして失ってしまった。裏で周囲を欺き続けていた人間の末路である。「金と女にだらしない社員の会社は続かない」を教訓にもしもの時は告訴も有り得ます。不倫に限らず、社会通念の部分で人を欺く人間との間には本当の信頼関係は続かない。
        .m-head3
          .m-head3-text
            | 仕事能力以前に人としての部分を
        p
          | 上司、部下で会食し、上司側が酩酊状態になり連れていた彼女を一方的に殴り出す。部下の社員が止めに入るも聞かず、その社員にも暴力をふるい大怪我をさせる。その様子を見ていた一般人に通報され、上司はそのまま警察に連行される。被害にあった社員は翌日、病院にて全治2週間の診断を受ける。顔などには複数の擦過傷があり、店舗に立てない状態。病院受診後にそのまま被害届を提出する。その混乱の中、店舗に保管してあるはずの金銭も持ち出している事が発覚し、上司は懲戒解雇となる。勤続8年でマネージャーにも昇格していたが、行動が余りにも反社会的であった。仕事能力以前に、人としての部分が欠けていた典型的な失敗例である。