/ 40 SNS投稿
#sns-post.content
  .m-head1
    .m-head1-num
      .table-cell.align-middle
        | 40
    | SNS投稿
  .m-check
    .m-check-top
      img src="./img/check.png" class="m-check-image"
      .m-check-border
        .border
          .border-top-right
    .m-check-content
      | チェックすべきポイント
    .m-check-bottom
      .m-check-border
        .border
          .border-bottom-left
          .border-bottom-right
  .m-head2
    | 確認事項
  .m-case
    img src="./img/case.png" class="m-case-image"
    .m-case-content
      .m-case-inner
        .m-head3
          .m-head3-text
            | 加盟契約違反
        p
          | 営業時間
          br
          | 経営者が勝手に営業時間を短縮していた事例が発覚
          br
          | 壱番屋はお客様との約束を守るチェーン
          br
          | だからこそ
          br
          | 欠品や営業時間に拘る
          br
          | 加盟契約違反で、
          br
          | もちろんＤ評価、イエローカード発行で加盟更新して貰える保証なし