/ 41 マニュアル遵守
#manual-compliance.content
  .m-head1
    .m-head1-num
      .table-cell.align-middle
        | 41
    | マニュアル遵守
  .m-check
    .m-check-top
      img src="./img/check.png" class="m-check-image"
      .m-check-border
        .border
          .border-top-right
    .m-check-content
      | チェックすべきポイント
    .m-check-bottom
      .m-check-border
        .border
          .border-bottom-left
          .border-bottom-right
  .m-head2
    | 確認事項
  .m-case
    img src="./img/case.png" class="m-case-image"
    .m-case-content
      .m-case-inner
        .m-head3
          .m-head3-text
            | マニュアル違反
        p
          | 煮込みの作業をせず、野菜カレー、ほうれんそうカレーの具をＵＰしてライスの上の置いてルーを掛ける事例が発生
          br
          | マニュアル違反でオーナー呼び出し
          br
          | 周知徹底が出来なければ加盟解除に至る