<div class="content" id="first">
  <div class="m-head1">
    <div class="m-head1-num">
      <div class="table-cell align-middle">
        1
      </div>
    </div>
    はじめに
  </div>
  <div class="m-head2">
    コーポレートガバナンス
  </div>
  <p>
    コーポレートガバナンスとは、<strong>不正行為などは行わずに、『正しく』企業の競争力と収益力の向上を図り、長期的に企業価値を高める経営の仕組み</strong>の事を言う。企業統治とも訳される。
  </p>
  <div class="m-head2">
    企業コンプライアンス
  </div>
  <p>
    コーポレートガバナンスの基本的な考えの一つで、企業が『<strong>社会的な倫理</strong>』や『<strong>法律</strong>』、『<strong>内規</strong>』 など、<strong>基本的なルールに従って活動</strong>する事である。
  </p>
  <div class="m-head2">
    企業の社会的責任
  </div>
  <div class="m-head3">
    <div class="m-head3-text">
      企業不祥事が変わった！？
    </div>
  </div>
  <p>
    活力無き経営者トップと無責任なヒラ社員。 過去の企業犯罪はゼネコン談合・贈収賄・総会屋・粉飾決算・株式操作という経営陣が起こす組織ぐるみの不正が殆どであった。
  </p>
  <P>しかし、現在は消費期限の改ざんや安全基準の無視など、現場の人間が故意に起こした不祥事が急激に増加している。(一部の不心得者の仕業)</P><P>これらは見てみぬ振り、我関せず、先送り、馴れ合い、もたれあい、アマチュア意識、部活の延長線上に在る仕事感覚によるところが大きい。 (マスコミも監督官庁も捜査当局も知っているのにトップが何も知らない情報過疎)</P>
  <div class="m-head2">
    大企業事件から何を学ぶか？
  </div>
  <ol class="m-list">
    <li>
      大企業のリスクファクターとしてのリーダー/コミュニケーション不足。
    </li>
    <li>
      現場能力の低下とリストラによるエセ成果主義。
    </li>
    <li>
      他山の石から学ぶ力 -- 自山の石からも学ばない愚。
    </li>
    <li>
      秘密は必ず露呈する。<br />〈隠せる秘密は隠せなくなるまで育ち続けやがて組織を破壊する〉
    </li>
    <li>
      一度の事件で企業の社会的地位は取り返しのつかないダメージを受ける。
    </li>
  </ol>
  <div class="m-head2">
    今後企業に求められるものは何か？
  </div>
  <ul class="m-list">
    <li>
      コンプライアンスプログラム(実践計画)の制定、実施。
    </li>
    <li>
      コンプライアンスマニュアル(手引書)の周知、徹底と不遵守への懲罰。
    </li>
    <li>
      監査担当者への権限拡大。
    </li>
    <li>
      内部通報制度の採用、ホットラインの活用。
      <div class="sub-ex">
        (全ての不祥事は内部告発が存在~USJ アルバイト、日本ハム子会社関係者、雪印食品協 力倉庫会社等)
      </div>
    </li>
    <li>
      横並び判断の誤りを正す-無意味な「他社動向」の意識改善。
    </li>
    <li>
      前例踏襲判断の誤りを正す-パラダイムシフトにより判断基準が激変しているのに過去のマニュアルにとらわれる。
    </li>
  </ul>
  <div class="m-head2">
    今後企業が存続し続ける為には？
  </div>
  <ol class="m-list">
    <li>
      <div class="list-title">
        組織の透明性を持つ
      </div>
      <div class="description">
        あらゆるツールを利用し報告、連絡、相談は必ず行う。
      </div>
    </li>
    <li>
      <div class="list-title">
        公正な組織運営
      </div>
      <div class="description">
        経営内容を公開し、情報の共有を遂行する。<br />何でも言い合える、聞かれたら答える、情報交換、情報共有。
      </div>
    </li>
    <li>
      <div class="list-title">
        自己責任の貫徹(責任所在の明確化)
      </div>
      <div class="description">
        全員が経営者の感覚、現場の感覚を持つ事。
      </div>
    </li>
    <li>
      <div class="list-title">
        全スタッフの知識理解の徹底
      </div>
      <div class="description">
        随時コンプライアンスマニュアルについてのテストを実施。
      </div>
    </li>
  </ol>
  <div class="m-annotation">
    日本の企業は欧米に比べて危機管理は10年以上遅れています。何かが有ってからでは遅い、遅いイコール企業の崩壊、消滅を意味する。 各自がマニュアルを確実に理解し実践して下さい。
  </div>
</div>
