<div class="content" id="first">
  <div class="m-head1">
    <div class="m-head1-num">
      <div class="table-cell align-middle">
        1
      </div>
    </div>
    はじめに
  </div>
  <div class="m-head2">
    コンプライアンスとは？
  </div>
  <p>
    コンプライアンス【compliance】とは英語で「<strong>命令・要求に従うこと</strong>」という意味です。
  </p>
  <p>
    日本では「<strong>企業が法律や企業倫理を遵守すること</strong>」という意味で使われています。<br />企業の『社会的な倫理』や『法律』、『内規』 など、基本的な<strong>ルールに従って活動する</strong>事であり「<strong>ビジネスコンプライアンス</strong>」とも言います。
  </p>
  <p>
    近ごろ、会社・企業の不祥事に対して、社会の目が益々厳しくなってきています。<br />たとえ社員が1万人いる会社でも、たった１人の起こした不祥事で経営ができなくなる、会社の信用が地に堕ちて存続が難しくなる、そのような可能性はゼロではありません。<br />そういった危険性を予防するために、このコンプライアンスマニュアルがあります
  </p>
  <p>
    難しい事ではなく<br />会社としては「<strong>会社の信用やブランドイメージを守るための対策</strong>」、<br />個人としては「<strong>悪いことをしなければいいんだ</strong>」という事です！
  </p>
  <p>
    同時に<br />社内ルールも<br />その刑罰も含めて以下に記載しました
  </p>
  <p>
    今後は<br />くれぐれも不祥事から会社を守り<br />自分自身の人生が守れるように<br />このマニュアルを理解し行動して下さい
  </p>
  <div class="m-annotation">
    日本の企業は欧米に比べて危機管理は10年以上遅れています。何かが有ってからでは遅い、遅いイコール企業の崩壊、消滅を意味する。 各自がマニュアルを確実に理解し実践して下さい。
  </div>
</div>
