<div class="content" id="earthquake">
  <div class="m-head1">
    <div class="m-head1-num">
      <div class="table-cell align-middle">
        10
      </div>
    </div>
    地震
  </div>
  <div class="m-check">
    <div class="m-check-top">
      <img class="m-check-image" src="./img/check.png" />
      <div class="m-check-border">
        <div class="border">
          <div class="border-top-right"></div>
        </div>
      </div>
    </div>
    <div class="m-check-content">
      お客様の避難を優先し、ガスの元栓は必ず閉める。
    </div>
    <div class="m-check-bottom">
      <div class="m-check-border">
        <div class="border">
          <div class="border-bottom-left"></div>
          <div class="border-bottom-right"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="m-head2">
    地震発生時の対処
  </div>
  <p>
    お客様の避難誘導が最優先<br /><br />お客様の中に怪我をしている方がいないかを確認、適切な応急処置をする。こぼれたカレーで火傷するケースがもっとも多いため、店舗に(綺麗なタオル・火傷薬・包帯 等)は必ず常備しておく。
  </p>
  <br />
  <ol class="m-list">
    <li>
      地震の揺れが収まるまでは、窓側から遠く、落下物などの危険が少ない場所へ移動、テーブルの下に潜らせる等の避難誘導をする。
      <div class="m-case-illustration">
        <img src="./img/10-1.png" />
      </div>
    </li>
    <li>
      揺れが収まったら、避難路を確保し、周りの様子を確認してからお客様を店外へ避難誘導。
    </li>
    <li>
      ガスの元栓は、必ず閉める。その後、従業員も速やかに店外へ避難する。
      <div class="m-case-illustration">
        <img src="./img/10-2.png" />
      </div>
    </li>
  </ol>
  <div class="m-case">
    <img class="m-case-image" src="./img/case.png" />
    <div class="m-case-content">
      <div class="m-case-inner">
        <div class="m-head3">
          <div class="m-head3-text">
            大地震発生後の余震にも注意
          </div>
        </div>
        <p>
          大地震が発生し、余震が続く可能性があるため、お皿などの割れやすいもの、落ちると危ないものの保管場 所を下側に移動するなどして対応した。
        </p>
      </div>
    </div>
  </div>
</div>
