<div class="content" id="restoration-of-lifeline">
  <div class="m-head1">
    <div class="m-head1-num">
      <div class="table-cell align-middle">
        11
      </div>
    </div>
    ライフラインの復旧
  </div>
  <div class="m-check">
    <div class="m-check-top">
      <img class="m-check-image" src="./img/check.png" />
      <div class="m-check-border">
        <div class="border">
          <div class="border-top-right"></div>
        </div>
      </div>
    </div>
    <div class="m-check-content">
      チェックすべきポイント
    </div>
    <div class="m-check-bottom">
      <div class="m-check-border">
        <div class="border">
          <div class="border-bottom-left"></div>
          <div class="border-bottom-right"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="m-head2">
    電気
  </div>
  <ul class="m-list">
    <li>
      <strong>自店のみ停電している場合</strong>
    </li>
  </ul>
  <ol class="m-list">
    <li>
      店内の漏電している箇所を特定するために分電盤を確認。
    </li>
    <li>
      ブレーカーを全てOFFにしてから、主幹ブレーカーをONにし、その後安全ブレーカーを一つずつONにして漏電箇所を特定し、漏電部分のブレーカーはOFFにしたままにする。(早急に修理手配)
    </li>
    <li>
      漏電箇所以外のブレーカーをONにし営業再開。
    </li>
  </ol>
  <ul class="m-list">
    <li>
      <strong>近隣地域すべて停電している場合</strong>
    </li>
  </ul>
  <ol class="m-list">
    <li>
      機械での換気が不可能になるため、窓を開けるなどして、換気をしっかりと行う。
    </li>
    <li>
      店舗に常備されているろうそく、非常時用の照明器具を使用し運営する。(懐中電灯・ろうそく等の非常時使用の照明器具・オーダー受注シート・手書き用領収書・レジの鍵は必ず常備しておく)
    </li>
    <li>
      オーダーシートを利用して、オーダー、会計を行う。
    </li>
  </ol>
  <div class="m-head2">
    ガス
  </div>
  <ol class="m-list">
    <li>
      ガスメーターを確認する。(緊急停止していないか等)
    </li>
    <li>
      全てのガス機器の元栓を閉める。
    </li>
    <li>
      メーターの遮断弁復旧ボタンを押す(長押しするなど、メーターに備えつけてある復旧マニュアルを参照して復旧作業を行う。)
    </li>
    <li>
      数分待った後、ガス機器の確認。
    </li>
    <li>
      復旧しない場合は、ガス会社に連絡。復旧するまでは、店舗に常備されているカセットコンロを使用する。
    </li>
  </ol>
  <div class="m-head2">
    ガス漏れ時の対応
  </div>
  <p>
    火を使う物、火花の出るものは使用禁止。<br />元栓を全て確認し、全部閉めた状態で、開けられる全ての窓、ドアを開け、換気する。(ほうきで掃きだしたり、うちわで扇いだりして換気を促す)
  </p>
  <div class="m-head2">
    水道
  </div>
  <ol class="m-list">
    <li>
      元栓や配管の確認。
    </li>
    <li>
      自店だけなのか、近隣地域も断水しているのか確認。
    </li>
    <li>
      水道局に連絡。水の手配が最重要優先事項。
    </li>
  </ol>
  <div class="m-case">
    <img class="m-case-image" src="./img/case.png" />
    <div class="m-case-content">
      <div class="m-case-inner">
        <div class="m-head3">
          <div class="m-head3-text">
            水道管が破裂
          </div>
        </div>
        <p>
          近隣で地中の水道管が破裂し水道が一切使用できなくなった。一時的に店内に残っている水を使用し、炊飯や調理を継続した。 並行して水道局に連絡をしたところ、すぐにポリタンクと給水車を派遣してもらい、そのまま営業を継続した。
        </p>
      </div>
    </div>
  </div>
  <div class="m-head2">
    インターネット
  </div>
  <ol class="m-list">
    <li>
      接続の確認をしながら、各装置の確認、復旧作業。(電源コンセントの抜き差しなど)
    </li>
    <li>
      繋がらなければNTTに連絡する。
    </li>
    <li>
      場合によってはモデムメーカー・プロバイダー等に連絡する。
    </li>
  </ol>
</div>
