<div class="content" id="invasion-of-pirates">
  <div class="m-head1">
    <div class="m-head1-num">
      <div class="table-cell align-middle">
        13
      </div>
    </div>
    賊の侵入
  </div>
  <div class="m-check">
    <div class="m-check-top">
      <img class="m-check-image" src="./img/check.png" />
      <div class="m-check-border">
        <div class="border">
          <div class="border-top-right"></div>
        </div>
      </div>
    </div>
    <div class="m-check-content">
      ◼︎ 起こりうる犯罪<br /><strong>【強盗罪】</strong><br />5年以上の有期懲役<br /><strong>【住居侵入罪】</strong><br />3年以下の懲役又は10万円以下の罰金
    </div>
    <div class="m-check-bottom">
      <div class="m-check-border">
        <div class="border">
          <div class="border-bottom-left"></div>
          <div class="border-bottom-right"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="m-head2">
    押し入り強盗
  </div>
  <p>
    営業中及び開店・閉店作業中に賊に侵入された場合は、お客様や従業員、自分自身の安全を最優先とし、要求には素直に応じる。<br />むやみに逆らって、お客様・従業員を危険にさらすような行為は絶対に起こさない事。
  </p>
  <div class="m-head2">
    空き巣
  </div>
  <p>
    入店の際にドアが壊されている等、少しでも異変を感じたら、店内に潜んでいる可能性があるので、むやみに入店せず、上長へ連絡し指示を仰ぐ。直ちに警察へ通報する。<br />※<a href="#notes-on-visiting">入店時の注意点の項目参照</a>
  </p>
</div>
