<div class="content" id="nuisance-in-store">
  <div class="m-head1">
    <div class="m-head1-num">
      <div class="table-cell align-middle">
        14
      </div>
    </div>
    店内での迷惑行為
  </div>
  <div class="m-check">
    <div class="m-check-top">
      <img class="m-check-image" src="./img/check.png" />
      <div class="m-check-border">
        <div class="border">
          <div class="border-top-right"></div>
        </div>
      </div>
    </div>
    <div class="m-check-content">
      チェックすべきポイント
    </div>
    <div class="m-check-bottom">
      <div class="m-check-border">
        <div class="border">
          <div class="border-bottom-left"></div>
          <div class="border-bottom-right"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="m-head2">
    迷惑行為に対する対処
  </div>
  <p>
    営業に差し支える行為・他のお客様が不快に思う・迷惑になる行為が発生した場合<br /><br />例(酔っ払い・長時間滞在・大声で電話・お客様同士のトラブル・トイレへの立てこもり・大人数で騒ぐ等)
  </p>
  <br />
  <ol class="m-list">
    <li>
      責任者が対応し、警告をする。
    </li>
    <li>
      それでも迷惑行為が続く場合は、警察に通報する旨を再度警告。
    </li>
    <li>
      さらに迷惑行為が続く、他のお客様や従業員に危害が加わる危険がある時は速やかに警察に通報する。
    </li>
  </ol>
</div>
