<div class="content" id="embezzlement">
  <div class="m-head1">
    <div class="m-head1-num">
      <div class="table-cell align-middle">
        16
      </div>
    </div>
    横領
  </div>
  <div class="m-check">
    <div class="m-check-top">
      <img class="m-check-image" src="./img/check.png" />
      <div class="m-check-border">
        <div class="border">
          <div class="border-top-right"></div>
        </div>
      </div>
    </div>
    <div class="m-check-content">
      チェックすべきポイント
    </div>
    <div class="m-check-bottom">
      <div class="m-check-border">
        <div class="border">
          <div class="border-bottom-left"></div>
          <div class="border-bottom-right"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="m-head2">
    金銭の不正が発覚した場合
  </div>
  <ol class="m-list">
    <li>
      1円でも不正が発覚した場合は懲戒解雇<br />(会社からの罰則)
    </li>
    <li>
      会社は警察に通報し被害届を提出する。<br />(記録として残る)
    </li>
  </ol>
  <div class="m-case">
    <img class="m-case-image" src="./img/case.png" />
    <div class="m-case-content">
      <div class="m-case-inner">
        <div class="m-head3">
          <div class="m-head3-text">
            ちょっとした出来心がすべてを失う
          </div>
        </div>
        <p>
          勤続10年になる課長が過去4年間にわたり、レジ金や経費を少額ずつ横領していた事実が発覚し、即日解雇となる。また、その課長の指示を受け、明らかにおかしいと知りながらもレジ操作等を行っていた社員は降格処分となる。<br />横領額は500万円に上り、個人での補填が行えず、両親を保証人に立て、金融機関から返済額すべてを借り入れ、返済を行う。警察に事情は全て説明するも、返済が有った為、被害届は出さなかった。(名前や個人情報は警察に控えられている。)<br />ちょっとした出来心から始まった行動が慢性化し、善悪の判断が出来なくなった典型例。職と仲間と信頼、そして苦労して積み上げてきたキャリアを一瞬で失った。
        </p>
      </div>
    </div>
  </div>
</div>
