<div class="content" id="workers-compensation-insurance">
  <div class="m-head1">
    <div class="m-head1-num">
      <div class="table-cell align-middle">
        21
      </div>
    </div>
    労災
  </div>
  <div class="m-check">
    <div class="m-check-top">
      <img class="m-check-image" src="./img/check.png" />
      <div class="m-check-border">
        <div class="border">
          <div class="border-top-right"></div>
        </div>
      </div>
    </div>
    <div class="m-check-content">
      通勤途中の事故で労災が適用されるのは、直行直帰に限られる。
    </div>
    <div class="m-check-bottom">
      <div class="m-check-border">
        <div class="border">
          <div class="border-bottom-left"></div>
          <div class="border-bottom-right"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="m-head2">
    確認事項
  </div>
  <ol class="m-list">
    <li>
      店舗保険との併用は出来ない。まずは業務災害総合保険を活用し、その上で適用範囲 を超えている場合は労働災害保険(労災)での手続きを行う。
    </li>
    <li>
      店舗で働いているスタッフ、パート、アルバイトさんが仕事中に怪我をした時に適用されます。
    </li>
    <li>
      店舗で従事し(株)スカイスクレイパーから毎月20日に賃金を支払われている者が労災の対象です。通勤途中、また寄り道をせずまっすぐ帰宅途中の事故も労災が適用されます。 帰宅経路を外れて事故にあった場合、基本的に労災は適用されません。
    </li>
  </ol>
  <div class="m-case">
    <img class="m-case-image" src="./img/case.png" />
    <div class="m-case-content">
      <div class="m-case-inner">
        <div class="m-head3">
          <div class="m-head3-text">
            帰宅途中の事故1
          </div>
        </div>
        <p>
          アルバイトを終え、寄り道もせずにまっすぐ帰宅途中に道路の段差にハンドルを取られて転倒、打ち所が悪く手首を骨折、通院する事になるが、まっすぐ帰宅していた時の事故の為に労災が適用される。
        </p>
        <div class="m-head3">
          <div class="m-head3-text">
            帰宅途中の事故2
          </div>
        </div>
        <p>
          アルバイトを終え、帰宅途中に友達とゲームセンターによる。ゲームセンターを出て帰宅途中に前方不注意で側溝に転落する。病院に運ばれCTを撮るが幸い脳波に異常は無かった。今回の事故は、寄り道をしての帰宅途中の事故の為に労災は適用されず。本人の保険で対応する事になる。
        </p>
      </div>
    </div>
  </div>
</div>
