<div class="content" id="take-telephone-order">
  <div class="m-head1">
    <div class="m-head1-num">
      <div class="table-cell align-middle">
        27
      </div>
    </div>
    テイクアウト電話注文
  </div>
  <div class="m-check">
    <div class="m-check-top">
      <img class="m-check-image" src="./img/check.png" />
      <div class="m-check-border">
        <div class="border">
          <div class="border-top-right"></div>
        </div>
      </div>
    </div>
    <div class="m-check-content">
      チェックすべきポイント
    </div>
    <div class="m-check-bottom">
      <div class="m-check-border">
        <div class="border">
          <div class="border-bottom-left"></div>
          <div class="border-bottom-right"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="m-head2">
    確認事項
  </div>
  <p>
    テイクアウト、宅配で明らかに「いつもご利用頂いているお客様」と判別出来ない時の<strong class="red">8個以上の受注は折り返しの確認電話</strong>をさせて頂く事。
  </p>
  <div class="m-case">
    <img class="m-case-image" src="./img/case.png" />
    <div class="m-case-content">
      <div class="m-case-inner">
        <div class="m-head3">
          <div class="m-head3-text">
            いたずら電話による損害
          </div>
        </div>
        <p>
          「取りに行くから18個のお弁当を作っておいて欲しい」とお客様から電話を頂くが30分過ぎても取りに見えず確認の電話を差し上げたところ「頼んでいない」との返事、「最近そんないたずらが多い」との事。18個のお弁当を従事者が手分けして買取り、余りは処分、大きな損害を被る悲しい結果に・・・。折角、皆で協力して作っても無駄に終わるくらいなら「確認電話は絶対に必要」。
        </p>
      </div>
    </div>
  </div>
</div>
