<div class="content" id="submission-employment-contract">
  <div class="m-head1">
    <div class="m-head1-num">
      <div class="table-cell align-middle">
        31
      </div>
    </div>
    雇用契約書の提出
  </div>
  <div class="m-check">
    <div class="m-check-top">
      <img class="m-check-image" src="./img/check.png" />
      <div class="m-check-border">
        <div class="border">
          <div class="border-top-right"></div>
        </div>
      </div>
    </div>
    <div class="m-check-content">
      入社時に必ず提出を！
    </div>
    <div class="m-check-bottom">
      <div class="m-check-border">
        <div class="border">
          <div class="border-bottom-left"></div>
          <div class="border-bottom-right"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="m-head2">
    確認事項
  </div>
  <p>
    入社時、会社規定の基づいた雇用契約書を提出する事、その時、口座番号・制服のサイズ、数量等全て埋めて提出して下さい。 一か所でも漏れが有る場合は雇用契約は結ばれない。
  </p>
  <div class="m-case">
    <img class="m-case-image" src="./img/case.png" />
    <div class="m-case-content">
      <div class="m-case-inner">
        <div class="m-head3">
          <div class="m-head3-text">
            労災認定おりず
          </div>
        </div>
        <p>
          雇用契約書の提出が無く、労災事故にも関わらず労災認定を受けられない事例有り、個人の先送りの軽い考えが招いた事例。
        </p>
      </div>
    </div>
  </div>
</div>
