<div class="content" id="forgery-contract-documents">
  <div class="m-head1">
    <div class="m-head1-num">
      <div class="table-cell align-middle">
        32
      </div>
    </div>
    契約書類の偽造(代筆)
  </div>
  <div class="m-check">
    <div class="m-check-top">
      <img class="m-check-image" src="./img/check.png" />
      <div class="m-check-border">
        <div class="border">
          <div class="border-top-right"></div>
        </div>
      </div>
    </div>
    <div class="m-check-content">
      ◼︎ 起こりうる犯罪<br /><strong>【私文書偽造等罪】</strong><br />3月以上5年以下の懲役
    </div>
    <div class="m-check-bottom">
      <div class="m-check-border">
        <div class="border">
          <div class="border-bottom-left"></div>
          <div class="border-bottom-right"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="m-head2">
    確認事項
  </div>
  <p>
    契約書の偽造(代筆)はれっきとした犯罪。『私文書偽造罪』として扱われる。
  </p>
  <p>
    当社で考えられるもっとも危険性の高いケースは入社時の雇用契約書や36協定書の代筆。 この書類への代筆行為は犯罪。
  </p>
  <p>
    発覚した場合、個人が罪に問われる(5年以下の懲役もしくは10万円以下の罰金)ばかり ではなく、会社やチェーン全体に与える風評被害は計り知れないものがある。
  </p>
  <p>
    契約書の作成は必ず本人に十分な説明をし、説明をする側もされる側も十分理解したうえで、本人直筆のサイン及び押印をする事が大原則となる。 雇用契約書以外にも、契約書を作成する時には上記の注意点を必ず遵守すること。
  </p>
</div>
