<div class="content" id="joined-leaving">
  <div class="m-head1">
    <div class="m-head1-num">
      <div class="table-cell align-middle">
        34
      </div>
    </div>
    入社・退社時
  </div>
  <div class="m-check">
    <div class="m-check-top">
      <img class="m-check-image" src="./img/check.png" />
      <div class="m-check-border">
        <div class="border">
          <div class="border-top-right"></div>
        </div>
      </div>
    </div>
    <div class="m-check-content">
      チェックすべきポイント
    </div>
    <div class="m-check-bottom">
      <div class="m-check-border">
        <div class="border">
          <div class="border-bottom-left"></div>
          <div class="border-bottom-right"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="m-head2">
    確認事項
  </div>
  <ol class="m-list">
    <li>
      入社時、担当店舗の責任者は、入社スタッフに対して必ずコンプライアンスマニュアルの把握を義務付け、条件や規約を理解させる事とする。万が一、マニュアルの確認が出来ていないスタッフが居る場合、所属店舗の責任者は降格処分とする。
    </li>
    <li>
      入社が決定した社員及びアルバイトは、「雇用契約書」に、サインを行う。 正社員は、株式会社スカイスクレイパーが用意する、社員寮に入寮する権利を持ち、寮費は給与規定の則り算定する事とする。同居人が居る場合も給与規定に則り算定する。
    </li>
    <li>
      社員寮は定期的に検査を行い、その状態が入寮規約から明らかに逸脱する場合、入寮者は即日退去する事とする。
    </li>
    <li>
      退職を希望する場合は、退職希望日の1ヶ月前までに退職願を提出する。 事故や病気等のやむを得ない事情を除き、急遽退職をした場合は、最終給与、報酬は事務所保管とし、会社役員と本人との間で直接授受する事とする。
    </li>
    <li>
      正社員は、退社日付けで社会保険、厚生年金は解約となる。よって、保険証は、退社後1週間以内に直接提出するか、事務所に郵送する事とする。
    </li>
    <li>
      会社より貸与されている制服は、退職後、クリーニングをかけ、所属していた店舗に返却する。また、制服の提出が確認されていない場合は、最終給与、報酬の受給資格を得られないものとする。
    </li>
  </ol>
  <div class="m-case">
    <img class="m-case-image" src="./img/case.png" />
    <div class="m-case-content">
      <div class="m-case-inner">
        <div class="m-head3">
          <div class="m-head3-text">
            自分自身にだらしない人間
          </div>
        </div>
        <p>
          社員寮の定期検査を施行した時、あまりにも管理状況が悪く(ゴミの溜め込み、悪臭、炊事場の汚れ、各所の埃等)、警告を行ったが翌月の検査時にも改善を確認する事ができなかった。即日退去を申し付ける。自分の身の回りも整理できない人間に仕事に対しての責任が持てるはずも無く、翌日は無断欠勤。従業員契約書の内容にのっとり、即日解雇する。その後、本人より給与の請求があるものの、事務所にて保管している旨を伝えると、その後連絡が取れなくなる。本人の私物は3ヶ月間保管するも取りに来ず全て廃棄処分へ。自分自身にだらしない人間は仕事上でも一切信用することができない。部屋の状況を見れば、その人間の能力、人間性を伺い知ることが出来る事例の一つです。
        </p>
      </div>
    </div>
  </div>
</div>
