<div class="content" id="dormitory-management">
  <div class="m-head1">
    <div class="m-head1-num">
      <div class="table-cell align-middle">
        35
      </div>
    </div>
    寮の管理
  </div>
  <div class="m-check">
    <div class="m-check-top">
      <img class="m-check-image" src="./img/check.png" />
      <div class="m-check-border">
        <div class="border">
          <div class="border-top-right"></div>
        </div>
      </div>
    </div>
    <div class="m-check-content">
      火の元には注意！<br />◼︎ 起こりうる犯罪<br /><strong>【重失火罪】</strong><br />3年以下の禁固又は150万円以下の罰金
    </div>
    <div class="m-check-bottom">
      <div class="m-check-border">
        <div class="border">
          <div class="border-bottom-left"></div>
          <div class="border-bottom-right"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="m-head2">
    確認事項
  </div>
  <p>
    寝タバコ、ガスの元栓、暖房器具の取り扱い。各自の安易な考えが大惨事を引き起こす事になります。火事は身近で簡単に起きる可能性があります。
  </p>
  <div class="m-case">
    <img class="m-case-image" src="./img/case.png" />
    <div class="m-case-content">
      <div class="m-case-inner">
        <div class="m-head3">
          <div class="m-head3-text">
            アイロンの電源切り忘れ
          </div>
        </div>
        <p>
          アイロンの電源切り忘れの為、寮の床を焦がす。寮の床の全面張替え敷金礼金だけでは賄いきれず別途料金発生。金額にして25万の損失。損失は自己責任としてすべて当事者に賠償してもらう。
        </p>
        <div class="m-head3">
          <div class="m-head3-text">
            タバコの不始末
          </div>
        </div>
        <p>
          他社にて、タバコの消し忘れによる小火発生。 寮を退室時、タバコを吸い消したつもりだったが確認を怠りタバコの火が引火し小火となる。幸いカーテンや窓ガラス付近の延焼程度で済んだが、もしも深夜住民や従業員の寝ていた時だったら大惨事であった。その後、大家からの賠償、警察・消防からの事情聴取と、その地域に住めない状態となり、 転居を余儀なくされた。
        </p>
        <div class="m-head3">
          <div class="m-head3-text">
            社員寮の鍵紛失
          </div>
        </div>
        <p>
          深夜帰宅し、社員寮の鍵紛失。緊急時の連絡先を未把握にて、他の従業員に連絡をする事ができず、やむなくAM2:00に寮の大家さん宅を起こす。深夜でもあり不審者と間違われ、警察沙汰にまで発展。我々の帰宅時間は世間一般では常識的な時間とはいえない。また携帯電話で連絡を取る手段があるにも関わらず、大家さんを起こすことは非常識であり、考えが幼稚すぎる。
        </p>
      </div>
    </div>
  </div>
</div>
