<div class="content" id="personal-information-management">
  <div class="m-head1">
    <div class="m-head1-num">
      <div class="table-cell align-middle">
        38
      </div>
    </div>
    個人情報管理
  </div>
  <div class="m-check">
    <div class="m-check-top">
      <img class="m-check-image" src="./img/check.png" />
      <div class="m-check-border">
        <div class="border">
          <div class="border-top-right"></div>
        </div>
      </div>
    </div>
    <div class="m-check-content">
      ◼︎ 起こりうる犯罪<br /><strong>【名誉毀損罪】</strong><br />3年以下の懲役若しくは禁錮又は510万円以下の罰金<br /><strong>【プライバシー侵害】</strong><br />刑事罰はありませんが，民事事件において損害賠償請求をされる恐れがあります。
    </div>
    <div class="m-check-bottom">
      <div class="m-check-border">
        <div class="border">
          <div class="border-bottom-left"></div>
          <div class="border-bottom-right"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="m-head2">
    確認事項
  </div>
  <p>
    平成17年4月より施行された「個人情報保護法」。世間で取り上げられた法律です。個人情報保護法を軽く見ないでもらいたい。履歴書、宅配による開拓したお客様データ5000件以上の物になる。データの流出などが起これば店舗だけでなく会社全体の損害が生じる。履歴書、宅配データは必ず金庫内に保管し定期的にデータ更新を行い絶対に漏れないようにする事！
  </p>
  <div class="m-case">
    <img class="m-case-image" src="./img/case.png" />
    <div class="m-case-content">
      <div class="m-case-inner">
        <div class="m-head3">
          <div class="m-head3-text">
            履歴書情報の社外漏洩
          </div>
        </div>
        <p>
          他社にて、店長が好意を持っていたメイトさんの履歴書を持ちだし、忘れていた事が社員寮にて判明。その他、数名の履歴書情報も社外に漏洩している事が発覚し、メイトさんより告訴される。会社側も何百万もの損害賠償を求める裁判の最中であり、店長は懲戒解雇となるが、その後も賠償が続いている。
        </p>
        <div class="m-case-illustration">
          <img src="./img/38-1.png" />
        </div>
      </div>
    </div>
  </div>
</div>
