<div class="content" id="sns-post">
  <div class="m-head1">
    <div class="m-head1-num">
      <div class="table-cell align-middle">
        40
      </div>
    </div>
    SNS投稿
  </div>
  <div class="m-check">
    <div class="m-check-top">
      <img class="m-check-image" src="./img/check.png" />
      <div class="m-check-border">
        <div class="border">
          <div class="border-top-right"></div>
        </div>
      </div>
    </div>
    <div class="m-check-content">
      チェックすべきポイント
    </div>
    <div class="m-check-bottom">
      <div class="m-check-border">
        <div class="border">
          <div class="border-bottom-left"></div>
          <div class="border-bottom-right"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="m-head2">
    確認事項
  </div>
  <div class="m-case">
    <img class="m-case-image" src="./img/case.png" />
    <div class="m-case-content">
      <div class="m-case-inner">
        <div class="m-head3">
          <div class="m-head3-text">
            加盟契約違反
          </div>
        </div>
        <p>
          営業時間<br />経営者が勝手に営業時間を短縮していた事例が発覚<br />壱番屋はお客様との約束を守るチェーン<br />だからこそ<br />欠品や営業時間に拘る<br />加盟契約違反で、<br />もちろんＤ評価、イエローカード発行で加盟更新して貰える保証なし
        </p>
      </div>
    </div>
  </div>
</div>
