<div class="content" id="storage-of-key">
  <div class="m-head1">
    <div class="m-head1-num">
      <div class="table-cell align-middle">
        5
      </div>
    </div>
    鍵の保管
  </div>
  <div class="m-check">
    <div class="m-check-top">
      <img class="m-check-image" src="./img/check.png" />
      <div class="m-check-border">
        <div class="border">
          <div class="border-top-right"></div>
        </div>
      </div>
    </div>
    <div class="m-check-content">
      チェックすべきポイント
    </div>
    <div class="m-check-bottom">
      <div class="m-check-border">
        <div class="border">
          <div class="border-bottom-left"></div>
          <div class="border-bottom-right"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="m-head2">
    ① 所持権限
  </div>
  <p>
    鍵の保管は店長か店長から任命された鍵保管者のみが使用し、その他のスタッフは触ることも禁じます。
  </p>
  <div class="m-head2">
    ② 勤務中の義務
  </div>
  <p>
    勤務中は鍵を体から離さず、常時持ち歩く事。
  </p>
  <div class="m-head2">
    ③ 鍵所持責任者の退職時
  </div>
  <p>
    鍵の保管者が退社した時は鍵の交換か警報装置の暗証番号の変更をする事。
  </p>
  <div class="m-head2">
    ④ 紛失した場合
  </div>
  <p>
    何らかの事情で鍵を紛失した時は、気付いた時点で即時鍵交換を実費にて実施。
  </p>
  <div class="m-case">
    <img class="m-case-image" src="./img/case.png" />
    <div class="m-case-content">
      <div class="m-case-inner">
        <div class="m-head3">
          <div class="m-head3-text">
            鍵の管理不足で深夜賊侵入1
          </div>
        </div>
        <p>
          平成23年8月19日、館林国道122号店にて責任者が鍵の保管者も保管場所も把握しておらず管理不足にて深夜賊進入。お盆の売上、両替金、小口現金等209万9180円盗難に遭う。(警察から最も疑われたのは店長であり、管理能力に問題がある事から店長降格処分。犯人逮捕には至っていない)
        </p>
        <div class="m-head3">
          <div class="m-head3-text">
            鍵の管理不足で深夜賊侵入2
          </div>
        </div>
        <p>
          平成15年1月14日、太田末広店にてラスト作業終了後に店舗キーを、店舗外の隠し場所に設置して帰宅、翌日明らかに鍵を使って賊が侵入。売上金、両替金、小口現金等120万4570円盗難に遭う。(犯人逮捕には至っていない)
        </p>
      </div>
    </div>
  </div>
</div>
