<div class="content" id="hygiene-management">
  <div class="m-head1">
    <div class="m-head1-num">
      <div class="table-cell align-middle">
        7
      </div>
    </div>
    衛生管理
  </div>
  <div class="m-check">
    <div class="m-check-top">
      <img class="m-check-image" src="./img/check.png" />
      <div class="m-check-border">
        <div class="border">
          <div class="border-top-right"></div>
        </div>
      </div>
    </div>
    <div class="m-check-content">
      食中毒が発生した場合の損害、<strong>2,695,000,000円。</strong><br />◼︎ 起こりうる犯罪<br /><strong>【業務上過失致死傷罪】</strong><br />5年以下の懲役若しくは禁錮又は100万円以下の罰金
    </div>
    <div class="m-check-bottom">
      <div class="m-check-border">
        <div class="border">
          <div class="border-bottom-left"></div>
          <div class="border-bottom-right"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="m-head2">
    ① 管理チェック
  </div>
  <ul class="m-list">
    <li>
      衛生監査チェックシートは必ず月に一度は行い、結果を責任者が検証する。<br />賞味期限チェック表は、一日最低2回チェックし、当日期限の食材に関しては、必ずピックアップし厨房に貼り出す。
    </li>
    <li>
      販売期限チェックシートは毎週チェックを行い、規定の期限を切る商品は販売禁止とする。
    </li>
    <li>
      賞味期限管理シールは、必ず仕込み日、賞味期限日、商品名、担当者名を記入の上、全食材に添付し管理する。担当者名はフルネームで記入する。
    </li>
    <li>
      温度チェック表は毎朝、夕方に必ずチェックを行い、異常温度発生の場合は時間をおき再計測する。再計測結果も異状が認められる場合は、すぐに店長に報告。
    </li>
    <li>
      レギュラーは入社後半年以内に食品衛生責任者の資格を必ず取得する。
    </li>
  </ul>
  <div class="m-head2">
    ② 身嗜み
  </div>
  <ul class="m-list">
    <li>
      入店前には必ず身嗜みチェック表のチェック項目を第三者に確認してもらい、不適合箇所がある場合(爪、指輪、頭髪、制服の汚れなどの不衛生箇所がある場合)は入店する事は出来ない。
    </li>
    <li>
      体調不良、切り傷、手荒れなどの場合は、適切な処置を行い調理担当から外す。
    </li>
    <li>
      コロコロローラー、手洗い(爪ブラシ)、アルコール消毒は店舗外から店内に戻る時には 必ず遂行する。
    </li>
  </ul>
  <div class="m-head2">
    ③ 施設衛生
  </div>
  <p>
    什器備品の洗浄不良(タッパー類は特にテープののり、貼り跡など)に注意し、乾燥保管 を義務付ける。開店作業、閉店作業時の清掃以外にも、デイリーの清掃スケジュールを立て遂行する。厨房内にホチキス、画鋲、シャープペンなど異物混入の恐れが考えられる物の持ち込み、セットは原則禁止。
  </p>
  <div class="m-case">
    <img class="m-case-image" src="./img/case.png" />
    <div class="m-case-content">
      <div class="m-case-inner">
        <div class="m-head3">
          <div class="m-head3-text">
            食中毒が発生した場合に及ぼす損害
          </div>
        </div>
        <p>
          1店舗で食中毒が発生した時の損害。<br />まず、発生店舗に保健所の立ち入り検査が行われ、7日間の営業停止。平均売上を20万と設定しても<br />7日間×20万円=140万円<br />その間の店舗食材のロス食材比率35%1日平均75000円とすれば<br />75000円×7日間=525000円<br />その後、この影響が全国に波及し、全店舗の調査が必要となれば、<br />(1400000円+525000円)×1400 店舗=2,695,000,000円<br />1週間で最低でもこれだけの損害が発生し、家賃や返済等も含めて考えれば、取り返しのつかない事態にまで発展する。個人の注意不足がここまで大きな問題に発展する可能性を秘めている。
        </p>
        <div class="m-case-illustration">
          <img src="./img/7-1.png" />
        </div>
        <div class="m-head3">
          <div class="m-head3-text">
            賞味期限切れ商品によるペナルティ
          </div>
        </div>
        <p>
          東京エリアの店舗にて本部衛生監査が実施された結果、賞味期限切れの商品が確認される(ケチャップ、しめじ、ねぎ)。<br />本部規定により大きなペナルティーを科せられる事となる(衛生店舗評価D評価。食材値引き率停止、新規出店無期限停止)。<br />(株)スカイスクレイパー創業以来最大の汚点として社内共に記録として残る事件となりました。店舗評価D評価は指摘項目の改善が見られない場合は加盟解除となり、この時は壱番屋との加盟契約解消の危機に瀕した状態が数ヵ月継続。<br />担当店舗の店長は会社に大きな損害を与えた事に対して反省したそぶりは無く、管理改善も一向に進まない為、翌月解雇処分となる。
        </p>
      </div>
    </div>
  </div>
</div>
