<div class="content" id="fire">
  <div class="m-head1">
    <div class="m-head1-num">
      <div class="table-cell align-middle">
        9
      </div>
    </div>
    火事
  </div>
  <div class="m-check">
    <div class="m-check-top">
      <img class="m-check-image" src="./img/check.png" />
      <div class="m-check-border">
        <div class="border">
          <div class="border-top-right"></div>
        </div>
      </div>
    </div>
    <div class="m-check-content">
      ガスの元栓、タバコの始末等必ず確認！<br />◼︎ 起こりうる犯罪<br /><strong>【業務上過失致死傷罪】</strong><br />5年以下の懲役若しくは禁錮又は100万円以下の罰金
    </div>
    <div class="m-check-bottom">
      <div class="m-check-border">
        <div class="border">
          <div class="border-bottom-left"></div>
          <div class="border-bottom-right"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="m-head2">
    ① 確認事項
  </div>
  <ol class="m-list">
    <li>
      ガスの元栓は確実に閉めてある事を閉店時に必ず確認する事。
    </li>
    <li>
      休憩室の灰皿、店外灰皿は吸い殻を水で濡らして処分したい退店する。
    </li>
  </ol>
  <div class="m-head2">
    ② 火災発生時の対処
  </div>
  <ol class="m-list">
    <li>
      お客様の身の安全を確保するために、店外への避難誘導を最優先する。その後従業員も避難。
    </li>
    <li>
      初期消火活動（各店の消化器の位置は必ず把握しておく。）
    </li>
    <li>
      消防署に連絡をする。
    </li>
  </ol>
  <div class="m-case">
    <img class="m-case-image" src="./img/case.png" />
    <div class="m-case-content">
      <div class="m-case-inner">
        <div class="m-head3">
          <div class="m-head3-text">
            タバコの不始末による火災
          </div>
        </div>
        <p>
          熊谷新島店にて休憩室のタバコの不始末による火災が発生。 店舗全焼と隣接するゲームセンターにも被害が及び大きな事件になる。鎮火後の現場検証で「店長のタバコの不始末と断定」された。<br />この事例では幸いにも怪我人は無かったが、もし有れば業務上過失致死傷罪が適用され逮捕される。<br />また会社、お客様だけでなく近隣住民、大家さんにも多大な迷惑を掛け、その後の営業にも大いに差し支える。軽い気持ちや意識の低さで人生は大きく変わるものです。気を付け過ぎても「余計」ではありません
        </p>
      </div>
    </div>
  </div>
</div>
