<header class="l-header"></header>
<div class="l-header-menu">
  <div class="inner">
    <button class="drawer-toggle drawer-hamburger" type="button"><span class="drawer-hamburger-icon"></span></button>
    <nav class="drawer-nav">
      <ul class="drawer-menu">
        <li class="table-of-contents">
          目次
        </li>
        <li>
          <a href="#first">1.はじめに</a>
        </li>
        <li>
          <a href="#move-change">2.所属店舗移動または責任者交代</a>
        </li>
        <li>
          <a href="#notes-on-visiting">3.入店時の注意点</a>
        </li>
        <li>
          <a href="#notes-on-closures">4.退店時の注意点</a>
        </li>
        <li>
          <a href="#storage-of-key">5.鍵の保管</a>
        </li>
        <li>
          <a href="#attendance-delay-key-holder">6.鍵保持者の出勤遅れ</a>
        </li>
        <li>
          <a href="#hygiene-management">7.衛生管理</a>
        </li>
        <li>
          <a href="#register-error">8.レジ誤差</a>
        </li>
        <li>
          <a href="#fire">9.火事</a>
        </li>
        <li>
          <a href="#earthquake">10.地震</a>
        </li>
        <li>
          <a href="#restoration-of-lifeline">11.ライフラインの復旧</a>
        </li>
        <li>
          <a href="#stalker-damage">12.ストーカー被害</a>
        </li>
        <li>
          <a href="#invasion-of-pirates">13.賊の侵入</a>
        </li>
        <li>
          <a href="#nuisance-in-store">14.店内での迷惑行為</a>
        </li>
        <li>
          <a href="#sales-telephone-and-hard-sell">15.セールス電話・押し売り等</a>
        </li>
        <li>
          <a href="#embezzlement">16.横領</a>
        </li>
        <li>
          <a href="#hiding">17.隠ぺい</a>
        </li>
        <li>
          <a href="#loss">18.紛失</a>
        </li>
        <li>
          <a href="#claim">19.クレーム</a>
        </li>
        <li>
          <a href="#insurance">20.保険</a>
        </li>
        <li>
          <a href="#workers-compensation-insurance">21.労災</a>
        </li>
        <li>
          <a href="#management-of-uniforms">22.制服の管理</a>
        </li>
        <li>
          <a href="#appearance">23.身嗜み</a>
        </li>
        <li>
          <a href="#food-management">24.食材管理</a>
        </li>
        <li>
          <a href="#shortage">25.欠品</a>
        </li>
        <li>
          <a href="#delivery">26.宅配</a>
        </li>
        <li>
          <a href="#take-telephone-order">27.テイクアウト電話注文</a>
        </li>
        <li>
          <a href="#commuting-accident">28.通勤時の事故</a>
        </li>
        <li>
          <a href="#delivery-accident">29.配達時の事故</a>
        </li>
        <li>
          <a href="#36-agreements">30.36協定</a>
        </li>
        <li>
          <a href="#submission-employment-contract">31.雇用契約書の提出</a>
        </li>
        <li>
          <a href="#forgery-contract-documents">32.契約書類の偽造(代筆)</a>
        </li>
        <li>
          <a href="#exchanges-between-staff">33.スタッフ同士の交流</a>
        </li>
        <li>
          <a href="#joined-leaving">34.入社・退社時</a>
        </li>
        <li>
          <a href="#dormitory-management">35.寮の管理</a>
        </li>
        <li>
          <a href="#foreign-adoption">36.外国人採用</a>
        </li>
        <li>
          <a href="#pc-data-loss">37.パソコンデータ消失</a>
        </li>
        <li>
          <a href="#personal-information-management">38.個人情報管理</a>
        </li>
        <li>
          <a href="#power-harassment">39.パワーハラスメント</a>
        </li>
        <li>
          <a href="#sns-post">40.SNS投稿</a>
        </li>
        <li>
          <a href="#manual-compliance">41.マニュアル遵守</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
<div class="l-header-modal">
  <!--Button trigger modal--><button class="modal-btn" data-target="#quiz" data-toggle="modal" type="button"><i class="fa fa-quora"></i></button>
</div>
<!--Modal-->
<div aria-labelledby="myModalLabel" class="modal fade" id="quiz" role="dialog" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true"> &times;</span></button>
        <h4 class="modal-title" id="quiz-label">
          確認クイズ
        </h4>
      </div>
      <div class="modal-body">
        <div class="link-box">
          <div class="site-title bold">
            確認クイズ（第1章〜第5章）
          </div>
          <div class="ex brown">
            所属店舗を選択してクイズに解答
          </div>
          <select class="form-control" name="sort">
            <option value="">
              選択してください
            </option>
            <option value="">
              前橋日吉店
            </option>
            <option value="">
              太田西矢島店
            </option>
            <option value="">
              三条燕インター店
            </option>
            <option value="">
              太田末広店
            </option>
            <option value="">
              群馬大間々店
            </option>
            <option value="">
              つくば桜店
            </option>
            <option value="">
              JR秋葉原昭和通り口店
            </option>
            <option value="">
              佐野国道50号店
            </option>
            <option value="">
              藤岡北ノ原店
            </option>
            <option value="">
              JR飯田橋西口店
            </option>
            <option value="">
              館林国道122号店
            </option>
            <option value="">
              ミスターマックス新習志野店
            </option>
            <option value="">
              イエローハットシティー長岡店
            </option>
            <option value="">
              静岡富士宮バイパス店
            </option>
            <option value="">
              千代田区専大通店
            </option>
            <option value="">
              新潟亀田店
            </option>
            <option value="">
              五反田山手通店
            </option>
            <option value="">
              富士高島町店
            </option>
            <option value="">
              東急白楽駅前通店
            </option>
            <option value="">
              緑区中山店
            </option>
            <option value="">
              東急戸越銀座駅前店
            </option>
            <option value="">
              御徒町昭和通り店
            </option>
            <option value="">
              熊谷駅店
            </option>
            <option value="">
              JR大森駅東口店
            </option>
            <option value="">
              JR浦和駅西口店
            </option>
            <option value="">
              うまこくカレーラーメン
            </option>
          </select>
        </div>
        <div class="link-box">
          <div class="site-title bold">
            確認クイズ（第6章〜第10章）
          </div>
          <div class="ex brown">
            所属店舗を選択してクイズに解答
          </div>
          <select class="form-control" name="sort">
            <option value="">
              選択してください
            </option>
            <option value="">
              前橋日吉店
            </option>
            <option value="">
              太田西矢島店
            </option>
            <option value="">
              三条燕インター店
            </option>
            <option value="">
              太田末広店
            </option>
            <option value="">
              群馬大間々店
            </option>
            <option value="">
              つくば桜店
            </option>
            <option value="">
              JR秋葉原昭和通り口店
            </option>
            <option value="">
              佐野国道50号店
            </option>
            <option value="">
              藤岡北ノ原店
            </option>
            <option value="">
              JR飯田橋西口店
            </option>
            <option value="">
              館林国道122号店
            </option>
            <option value="">
              ミスターマックス新習志野店
            </option>
            <option value="">
              イエローハットシティー長岡店
            </option>
            <option value="">
              静岡富士宮バイパス店
            </option>
            <option value="">
              千代田区専大通店
            </option>
            <option value="">
              新潟亀田店
            </option>
            <option value="">
              五反田山手通店
            </option>
            <option value="">
              富士高島町店
            </option>
            <option value="">
              東急白楽駅前通店
            </option>
            <option value="">
              緑区中山店
            </option>
            <option value="">
              東急戸越銀座駅前店
            </option>
            <option value="">
              御徒町昭和通り店
            </option>
            <option value="">
              熊谷駅店
            </option>
            <option value="">
              JR大森駅東口店
            </option>
            <option value="">
              JR浦和駅西口店
            </option>
            <option value="">
              うまこくカレーラーメン
            </option>
          </select>
        </div>
        <div class="link-box">
          <div class="site-title bold">
            確認クイズ（第11章〜第15章）
          </div>
          <div class="ex brown">
            所属店舗を選択してクイズに解答
          </div>
          <select class="form-control" name="sort">
            <option value="">
              選択してください
            </option>
            <option value="">
              前橋日吉店
            </option>
            <option value="">
              太田西矢島店
            </option>
            <option value="">
              三条燕インター店
            </option>
            <option value="">
              太田末広店
            </option>
            <option value="">
              群馬大間々店
            </option>
            <option value="">
              つくば桜店
            </option>
            <option value="">
              JR秋葉原昭和通り口店
            </option>
            <option value="">
              佐野国道50号店
            </option>
            <option value="">
              藤岡北ノ原店
            </option>
            <option value="">
              JR飯田橋西口店
            </option>
            <option value="">
              館林国道122号店
            </option>
            <option value="">
              ミスターマックス新習志野店
            </option>
            <option value="">
              イエローハットシティー長岡店
            </option>
            <option value="">
              静岡富士宮バイパス店
            </option>
            <option value="">
              千代田区専大通店
            </option>
            <option value="">
              新潟亀田店
            </option>
            <option value="">
              五反田山手通店
            </option>
            <option value="">
              富士高島町店
            </option>
            <option value="">
              東急白楽駅前通店
            </option>
            <option value="">
              緑区中山店
            </option>
            <option value="">
              東急戸越銀座駅前店
            </option>
            <option value="">
              御徒町昭和通り店
            </option>
            <option value="">
              熊谷駅店
            </option>
            <option value="">
              JR大森駅東口店
            </option>
            <option value="">
              JR浦和駅西口店
            </option>
            <option value="">
              うまこくカレーラーメン
            </option>
          </select>
        </div>
        <div class="link-box">
          <div class="site-title bold">
            確認クイズ（第16章〜第20章）
          </div>
          <div class="ex brown">
            所属店舗を選択してクイズに解答
          </div>
          <select class="form-control" name="sort">
            <option value="">
              選択してください
            </option>
            <option value="">
              前橋日吉店
            </option>
            <option value="">
              太田西矢島店
            </option>
            <option value="">
              三条燕インター店
            </option>
            <option value="">
              太田末広店
            </option>
            <option value="">
              群馬大間々店
            </option>
            <option value="">
              つくば桜店
            </option>
            <option value="">
              JR秋葉原昭和通り口店
            </option>
            <option value="">
              佐野国道50号店
            </option>
            <option value="">
              藤岡北ノ原店
            </option>
            <option value="">
              JR飯田橋西口店
            </option>
            <option value="">
              館林国道122号店
            </option>
            <option value="">
              ミスターマックス新習志野店
            </option>
            <option value="">
              イエローハットシティー長岡店
            </option>
            <option value="">
              静岡富士宮バイパス店
            </option>
            <option value="">
              千代田区専大通店
            </option>
            <option value="">
              新潟亀田店
            </option>
            <option value="">
              五反田山手通店
            </option>
            <option value="">
              富士高島町店
            </option>
            <option value="">
              東急白楽駅前通店
            </option>
            <option value="">
              緑区中山店
            </option>
            <option value="">
              東急戸越銀座駅前店
            </option>
            <option value="">
              御徒町昭和通り店
            </option>
            <option value="">
              熊谷駅店
            </option>
            <option value="">
              JR大森駅東口店
            </option>
            <option value="">
              JR浦和駅西口店
            </option>
            <option value="">
              うまこくカレーラーメン
            </option>
          </select>
        </div>
        <div class="link-box">
          <div class="site-title bold">
            確認クイズ（第21章〜第25章）
          </div>
          <div class="ex brown">
            所属店舗を選択してクイズに解答
          </div>
          <select class="form-control" name="sort">
            <option value="">
              選択してください
            </option>
            <option value="">
              前橋日吉店
            </option>
            <option value="">
              太田西矢島店
            </option>
            <option value="">
              三条燕インター店
            </option>
            <option value="">
              太田末広店
            </option>
            <option value="">
              群馬大間々店
            </option>
            <option value="">
              つくば桜店
            </option>
            <option value="">
              JR秋葉原昭和通り口店
            </option>
            <option value="">
              佐野国道50号店
            </option>
            <option value="">
              藤岡北ノ原店
            </option>
            <option value="">
              JR飯田橋西口店
            </option>
            <option value="">
              館林国道122号店
            </option>
            <option value="">
              ミスターマックス新習志野店
            </option>
            <option value="">
              イエローハットシティー長岡店
            </option>
            <option value="">
              静岡富士宮バイパス店
            </option>
            <option value="">
              千代田区専大通店
            </option>
            <option value="">
              新潟亀田店
            </option>
            <option value="">
              五反田山手通店
            </option>
            <option value="">
              富士高島町店
            </option>
            <option value="">
              東急白楽駅前通店
            </option>
            <option value="">
              緑区中山店
            </option>
            <option value="">
              東急戸越銀座駅前店
            </option>
            <option value="">
              御徒町昭和通り店
            </option>
            <option value="">
              熊谷駅店
            </option>
            <option value="">
              JR大森駅東口店
            </option>
            <option value="">
              JR浦和駅西口店
            </option>
            <option value="">
              うまこくカレーラーメン
            </option>
          </select>
        </div>
        <div class="link-box">
          <div class="site-title bold">
            確認クイズ（第26章〜第30章）
          </div>
          <div class="ex brown">
            所属店舗を選択してクイズに解答
          </div>
          <select class="form-control" name="sort">
            <option value="">
              選択してください
            </option>
            <option value="">
              前橋日吉店
            </option>
            <option value="">
              太田西矢島店
            </option>
            <option value="">
              三条燕インター店
            </option>
            <option value="">
              太田末広店
            </option>
            <option value="">
              群馬大間々店
            </option>
            <option value="">
              つくば桜店
            </option>
            <option value="">
              JR秋葉原昭和通り口店
            </option>
            <option value="">
              佐野国道50号店
            </option>
            <option value="">
              藤岡北ノ原店
            </option>
            <option value="">
              JR飯田橋西口店
            </option>
            <option value="">
              館林国道122号店
            </option>
            <option value="">
              ミスターマックス新習志野店
            </option>
            <option value="">
              イエローハットシティー長岡店
            </option>
            <option value="">
              静岡富士宮バイパス店
            </option>
            <option value="">
              千代田区専大通店
            </option>
            <option value="">
              新潟亀田店
            </option>
            <option value="">
              五反田山手通店
            </option>
            <option value="">
              富士高島町店
            </option>
            <option value="">
              東急白楽駅前通店
            </option>
            <option value="">
              緑区中山店
            </option>
            <option value="">
              東急戸越銀座駅前店
            </option>
            <option value="">
              御徒町昭和通り店
            </option>
            <option value="">
              熊谷駅店
            </option>
            <option value="">
              JR大森駅東口店
            </option>
            <option value="">
              JR浦和駅西口店
            </option>
            <option value="">
              うまこくカレーラーメン
            </option>
          </select>
        </div>
        <div class="link-box">
          <div class="site-title bold">
            確認クイズ（第31章〜第35章）
          </div>
          <div class="ex brown">
            所属店舗を選択してクイズに解答
          </div>
          <select class="form-control" name="sort">
            <option value="">
              選択してください
            </option>
            <option value="">
              前橋日吉店
            </option>
            <option value="">
              太田西矢島店
            </option>
            <option value="">
              三条燕インター店
            </option>
            <option value="">
              太田末広店
            </option>
            <option value="">
              群馬大間々店
            </option>
            <option value="">
              つくば桜店
            </option>
            <option value="">
              JR秋葉原昭和通り口店
            </option>
            <option value="">
              佐野国道50号店
            </option>
            <option value="">
              藤岡北ノ原店
            </option>
            <option value="">
              JR飯田橋西口店
            </option>
            <option value="">
              館林国道122号店
            </option>
            <option value="">
              ミスターマックス新習志野店
            </option>
            <option value="">
              イエローハットシティー長岡店
            </option>
            <option value="">
              静岡富士宮バイパス店
            </option>
            <option value="">
              千代田区専大通店
            </option>
            <option value="">
              新潟亀田店
            </option>
            <option value="">
              五反田山手通店
            </option>
            <option value="">
              富士高島町店
            </option>
            <option value="">
              東急白楽駅前通店
            </option>
            <option value="">
              緑区中山店
            </option>
            <option value="">
              東急戸越銀座駅前店
            </option>
            <option value="">
              御徒町昭和通り店
            </option>
            <option value="">
              熊谷駅店
            </option>
            <option value="">
              JR大森駅東口店
            </option>
            <option value="">
              JR浦和駅西口店
            </option>
            <option value="">
              うまこくカレーラーメン
            </option>
          </select>
        </div>
        <div class="link-box">
          <div class="site-title bold">
            確認クイズ（第36章〜第40章）
          </div>
          <div class="ex brown">
            所属店舗を選択してクイズに解答
          </div>
          <select class="form-control" name="sort">
            <option value="">
              選択してください
            </option>
            <option value="">
              前橋日吉店
            </option>
            <option value="">
              太田西矢島店
            </option>
            <option value="">
              三条燕インター店
            </option>
            <option value="">
              太田末広店
            </option>
            <option value="">
              群馬大間々店
            </option>
            <option value="">
              つくば桜店
            </option>
            <option value="">
              JR秋葉原昭和通り口店
            </option>
            <option value="">
              佐野国道50号店
            </option>
            <option value="">
              藤岡北ノ原店
            </option>
            <option value="">
              JR飯田橋西口店
            </option>
            <option value="">
              館林国道122号店
            </option>
            <option value="">
              ミスターマックス新習志野店
            </option>
            <option value="">
              イエローハットシティー長岡店
            </option>
            <option value="">
              静岡富士宮バイパス店
            </option>
            <option value="">
              千代田区専大通店
            </option>
            <option value="">
              新潟亀田店
            </option>
            <option value="">
              五反田山手通店
            </option>
            <option value="">
              富士高島町店
            </option>
            <option value="">
              東急白楽駅前通店
            </option>
            <option value="">
              緑区中山店
            </option>
            <option value="">
              東急戸越銀座駅前店
            </option>
            <option value="">
              御徒町昭和通り店
            </option>
            <option value="">
              熊谷駅店
            </option>
            <option value="">
              JR大森駅東口店
            </option>
            <option value="">
              JR浦和駅西口店
            </option>
            <option value="">
              うまこくカレーラーメン
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(function () {
    // プルダウン変更時に遷移
    $('select[name=sort]').change(function() {
      var url = $(this).val();
      if (url != '') {
        window.location.href = url;
      }
    });
  });
  
  $(document).ready(function() {
    $(".drawer").drawer();
  
  });
  $(function() {
    var closeBtn = $('.drawer-menu a');
    closeBtn.click(function () {
      $('.drawer').drawer('close');
    });
  });
</script>
