<header class="l-header"></header>
<div class="l-header-menu">
  <div class="inner">
    <button class="drawer-toggle drawer-hamburger" type="button"><span class="drawer-hamburger-icon"></span></button>
    <nav class="drawer-nav">
      <ul class="drawer-menu">
        <li class="table-of-contents">
          目次
        </li>
        <li>
          <a href="#first">1.はじめに</a>
        </li>
        <li>
          <a href="#move-change">2.所属店舗移動または責任者交代</a>
        </li>
        <li>
          <a href="#notes-on-visiting">3.入店時の注意点</a>
        </li>
        <li>
          <a href="#notes-on-closures">4.退店時の注意点</a>
        </li>
        <li>
          <a href="#storage-of-key">5.鍵の保管</a>
        </li>
        <li>
          <a href="#attendance-delay-key-holder">6.鍵保持者の出勤遅れ</a>
        </li>
        <li>
          <a href="#hygiene-management">7.衛生管理</a>
        </li>
        <li>
          <a href="#register-error">8.レジ誤差</a>
        </li>
        <li>
          <a href="#fire">9.火事</a>
        </li>
        <li>
          <a href="#earthquake">10.地震</a>
        </li>
        <li>
          <a href="#restoration-of-lifeline">11.ライフラインの復旧</a>
        </li>
        <li>
          <a href="#stalker-damage">12.ストーカー被害</a>
        </li>
        <li>
          <a href="#invasion-of-pirates">13.賊の侵入</a>
        </li>
        <li>
          <a href="#nuisance-in-store">14.店内での迷惑行為</a>
        </li>
        <li>
          <a href="#sales-telephone-and-hard-sell">15.セールス電話・押し売り等</a>
        </li>
        <li>
          <a href="#embezzlement">16.横領</a>
        </li>
        <li>
          <a href="#hiding">17.隠ぺい</a>
        </li>
        <li>
          <a href="#loss">18.紛失</a>
        </li>
        <li>
          <a href="#claim">19.クレーム</a>
        </li>
        <li>
          <a href="#insurance">20.保険</a>
        </li>
        <li>
          <a href="#workers-compensation-insurance">21.労災</a>
        </li>
        <li>
          <a href="#management-of-uniforms">22.制服の管理</a>
        </li>
        <li>
          <a href="#appearance">23.身嗜み</a>
        </li>
        <li>
          <a href="#food-management">24.食材管理</a>
        </li>
        <li>
          <a href="#shortage">25.欠品</a>
        </li>
        <li>
          <a href="#delivery">26.宅配</a>
        </li>
        <li>
          <a href="#take-telephone-order">27.テイクアウト電話注文</a>
        </li>
        <li>
          <a href="#commuting-accident">28.通勤時の事故</a>
        </li>
        <li>
          <a href="#delivery-accident">29.配達時の事故</a>
        </li>
        <li>
          <a href="#36-agreements">30.36協定</a>
        </li>
        <li>
          <a href="#submission-employment-contract">31.雇用契約書の提出</a>
        </li>
        <li>
          <a href="#forgery-contract-documents">32.契約書類の偽造(代筆)</a>
        </li>
        <li>
          <a href="#exchanges-between-staff">33.スタッフ同士の交流</a>
        </li>
        <li>
          <a href="#joined-leaving">34.入社・退社時</a>
        </li>
        <li>
          <a href="#dormitory-management">35.寮の管理</a>
        </li>
        <li>
          <a href="#foreign-adoption">36.外国人採用</a>
        </li>
        <li>
          <a href="#pc-data-loss">37.パソコンデータ消失</a>
        </li>
        <li>
          <a href="#personal-information-management">38.個人情報管理</a>
        </li>
        <li>
          <a href="#power-harassment">39.パワーハラスメント</a>
        </li>
        <li>
          <a href="#sns-post">40.SNS投稿</a>
        </li>
        <li>
          <a href="#manual-compliance">41.マニュアル遵守</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
<script>
  $(document).ready(function() {
    $(".drawer").drawer();
  
  });
  $(function() {
    var closeBtn = $('.drawer-menu a');
    closeBtn.click(function () {
      $('.drawer').drawer('close');
    });
  });
</script>
